.row {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 16px;
}

.textbox {
  width: 64px;
  padding: 2px;
  margin-right: 4px;
  font-size: 32px;
  text-align: center;
}
