.row {
  @apply flex items-center justify-center;
  @apply mb-4;
}

.row > button {
  @apply mr-2 ml-1;
}

.value {
  @apply px-4 mt-0.5;
  @apply text-8xl;

  font-family: 'Courier New', Courier, monospace;
}

.textbox {
  @apply w-16 p-1 mr-1;
  @apply text-4xl text-center;
  @apply border border-primary;
}

.button,
.asyncButton {
  @apply px-3 pb-1;
  @apply text-4xl;

  color: rgb(112, 76, 182);
  cursor: pointer;
  background: none;
  background-color: rgba(112, 76, 182, 0.1);
  border: 2px solid transparent;
  border-radius: 2px;
  outline: none;
  appearance: none;
}

.asyncButton {
  position: relative;
}

@media (prefers-reduced-motion: no-preference) {
  .button,
  .asyncButton {
    transition: all 0.15s;
  }
}

.button:hover,
.button:focus,
.asyncButton:hover,
.asyncButton:focus {
  border: 2px solid rgba(112, 76, 182, 0.4);
}

.button:active,
.asyncButton:active {
  background-color: rgba(112, 76, 182, 0.2);
}

.asyncButton::after {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  content: '';
  background-color: rgba(112, 76, 182, 0.15);
  opacity: 0;
}

.asyncButton:active::after {
  width: 0%;
  opacity: 1;
}

@media (prefers-reduced-motion: no-preference) {
  .asyncButton::after {
    transition: width 1s linear, opacity 0.5s ease 1s;
  }

  .asyncButton:active::after {
    transition: 0s;
  }
}
