.row {
  @apply flex items-center justify-center;
  @apply mb-4;
}

.row > button {
  @apply mr-2 ml-1;
}

.value {
  @apply px-4 mt-0.5;
  @apply text-8xl;

  font-family: 'Courier New', Courier, monospace;
}

.textbox {
  @apply w-16 p-1 mr-1;
  @apply text-4xl text-center;
  @apply border border-primary;
}

.button,
.async-button {
  @apply px-3 pb-1;
  @apply text-4xl;

  color: rgb(112 76 182);
  cursor: pointer;
  background: none;
  background-color: rgb(112 76 182 / 10%);
  border: 2px solid transparent;
  border-radius: 2px;
  outline: none;
  appearance: none;
}

.async-button {
  position: relative;
}

@media (prefers-reduced-motion: no-preference) {
  .button,
  .async-button {
    transition: all 0.15s;
  }
}

.button:hover,
.button:focus,
.async-button:hover,
.async-button:focus {
  border: 2px solid rgb(112 76 182 / 40%);
}

.button:active,
.async-button:active {
  background-color: rgb(112 76 182 / 20%);
}

.async-button::after {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  content: '';
  background-color: rgb(112 76 182 / 15%);
  opacity: 0%;
}

.async-button:active::after {
  width: 0%;
  opacity: 100%;
}

@media (prefers-reduced-motion: no-preference) {
  .async-button::after {
    transition: width 1s linear, opacity 0.5s ease 1s;
  }

  .async-button:active::after {
    transition: 0s;
  }
}
