name: CI

on:
  push:
    branches:
      - main
    tags:
      - '*'
  pull_request:
    branches:
      - main

jobs:
  lint:
    name: Linting
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          submodules: true
      - name: Setup Node environment
        uses: actions/setup-node@v3
        with:
          node-version: 16
          architecture: x64
          registry-url: https://registry.npmjs.org/
          cache: 'yarn'
      - name: Install dependencies
        run: |
          yarn
      - name: Run linter tests
        run: |
          yarn lint

  test-unit:
    name: Unit testing on Node/${{ matrix.package-manager }} ${{ matrix.node-version }} ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest]
        node-version: [14, 16]
        package-manager: [npm, yarn]
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          submodules: true
      - name: Setup Node environment
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
          architecture: x64
          registry-url: https://registry.npmjs.org/
          cache: 'yarn'
      - name: Install dependencies
        run: |
          yarn
      - name: Choose package manager for CRA
        if: ${{ matrix.package-manager == 'yarn' }}
        run: |
          echo Choose package manager for CRA v5
      - name: Run unit tests
        run: |
          yarn config set nodeLinker node-modules --home
          yarn test:all
          yarn badge
      - name: Perform code coverage report action
        uses: codecov/codecov-action@v2
        if: ${{ matrix.node-version == 16 && matrix.os == 'ubuntu-latest' && matrix.package-manager == 'yarn' }}
      - name: Archive production artifacts
        uses: actions/upload-artifact@v2
        if: ${{ matrix.node-version == 16 && matrix.os == 'ubuntu-latest' && matrix.package-manager == 'yarn' }}
        with:
          name: badges
          path: build

  test-e2e:
    name: E2E testing on Node/${{ matrix.package-manager }} ${{ matrix.node-version }} ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest]
        node-version: [14, 16]
        package-manager: [npm, yarn]
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          submodules: true
      - name: Reattach HEAD to head ref
        run: git switch -C "$(echo ${{ github.head_ref }} | sed -E 's|refs/[a-zA-Z]+/||')"
        if: ${{ github.head_ref != '' }}
      - name: Reattach HEAD to ref
        run: git switch -C "$(echo ${{ github.ref }} | sed -E 's|refs/[a-zA-Z]+/||')"
        if: ${{ github.head_ref == '' }}
      - name: Setup Node environment
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
          architecture: x64
          registry-url: https://registry.npmjs.org/
          cache: 'yarn'
      - name: Install dependencies
        run: |
          yarn
      - name: Choose package manager for CRA
        if: ${{ matrix.package-manager == 'yarn' }}
        run: |
          echo Choose package manager for CRA v5
      - name: Run E2E tests
        run: |
          yarn e2e
      - name: Archive production artifacts
        uses: actions/upload-artifact@v2
        if: ${{ matrix.node-version == 16 && matrix.os == 'ubuntu-latest' && matrix.package-manager == 'yarn' }}
        with:
          name: demos
          path: build

  docs:
    name: Documentation
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          submodules: true
          fetch-depth: 0
      - name: Setup Node environment
        uses: actions/setup-node@v3
        with:
          node-version: 16
          architecture: x64
          registry-url: https://registry.npmjs.org/
          cache: 'yarn'
      - name: Install dependencies
        run: |
          yarn
      - name: Build documentation
        run: |
          yarn build:docs
      - name: Archive production artifacts
        uses: actions/upload-artifact@v2
        with:
          name: docs
          path: build

  publish:
    name: Publishment
    if: startsWith(github.ref, 'refs/tags/v')
    runs-on: ubuntu-latest
    needs: [lint, test-unit, test-e2e]
    steps:
      - name: Initialize git configuration
        run: |
          git config --global core.autocrlf false
          git config --global user.email "github-actions[bot]@users.noreply.github.com"
          git config --global user.name "github-actions[bot]"
      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          submodules: true
      - name: Reattach HEAD to head ref
        run: git switch -C "$(echo ${{ github.head_ref }} | sed -E 's|refs/[a-zA-Z]+/||')"
        if: ${{ github.head_ref != '' }}
      - name: Reattach HEAD to ref
        run: git switch -C "$(echo ${{ github.ref }} | sed -E 's|refs/[a-zA-Z]+/||')"
        if: ${{ github.head_ref == '' }}
      - name: Setup Node environment
        uses: actions/setup-node@v3
        with:
          node-version: 16
          architecture: x64
          registry-url: https://registry.npmjs.org/
          cache: 'yarn'
      - name: Install dependencies
        run: |
          yarn
      - name: Build packages
        run: |
          yarn build
      - name: Publish to NPM registry
        if: startsWith(github.ref, 'refs/tags/v')
        run: |
          yarn config set npmAuthToken ${NODE_AUTH_TOKEN} --home
          yarn lerna publish from-package --no-verify-access --ignore-scripts --yes
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}

  deploy:
    name: Deployment
    if: ${{ github.ref == 'refs/heads/main' }}
    runs-on: ubuntu-latest
    needs: [lint, test-unit, test-e2e, docs]
    steps:
      - name: Download production artifacts
        uses: actions/download-artifact@v2
      - name: List production artifacts
        run: |
          ls -R
        working-directory: .
      - name: Aggregate production artifacts
        run: |
          mkdir -p ./build/
          cp -fr badges/* ./build/
          cp -fr demos/* ./build/
          cp -fr docs/* ./build/
      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        if: ${{ github.ref == 'refs/heads/main' }}
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./build
          force_orphan: true
          user_name: 'github-actions[bot]'
          user_email: 'github-actions[bot]@users.noreply.github.com'
          commit_message: ${{ github.event.head_commit.message }}
